doctype 5
html
  head
    title Crushinator
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/jq.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name="viewport",content="width=720, maximum-scale=1.0")
  body
    block content
